.user-info {
  width: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	gap: 20px;
	margin-top: -45px;
}

.info-tag {
	width: fit-content;
	padding: 15px;
	border-radius: 15px;
	background-color: var(--color-dark-blue);
}

.user-avatar {
	border: 7px solid var(--color-dark-gray);
	border-radius: 15px;
	border-bottom: 0;
}