.App {
	height: 100%;
	width: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 240px 120px 0;
}

.App-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.App-main {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: 30px;
	height: 100%;
	width: 100%;
}

.all-repo-button {
	cursor: pointer;
	color: var(--color-light-gray);
	align-self: center;
}