
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-family: 'Be Vietnam Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.large-text {
  font-size: 32px;
  font-weight: 500;
	color: var(--color-light-gray);
}

.title-text {
  font-size: 20px;
  font-weight: 500;
	color: var(--color-light-gray);
}

.body-text {
  font-size: 16px;
  font-weight: 400;
	color: var(--color-light-gray);
}

.small-text {
  font-size: 12px;
  font-weight: 400;
	color: var(--color-gray);
}

:root {
	--color-light-gray: #CDD5E0;
	--color-gray: #97A3B6;
	--color-dark-gray: #20293A;
	--color-medium-blue: #364153;
	--color-dark-blue: #111729;
	--color-deep-blue: #1D1B48;
}

body::before {
	width: 100%;
	height: 240px;
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('../public/hero-image-github-profile.jpg');
	background-size: cover;
	background-position: center;
	z-index: -10;
}

body {
	min-height: 100vh;
	height: 100%;
	width: 100vw;
	background-color: var(--color-dark-gray);
}

#root {
	height: 100%;
	width: 100%;
}

@media (max-width: 1024px) {
	.large-text {
		font-size: 24px;
	}

	.title-text {
		font-size: 18px;
	}

	.body-text {
		font-size: 14px;
	}

	.small-text {
		font-size: 12px;
	}
}

@media (max-width: 640px) {
	.title-text {
		font-size: 15px;
	}
}